
extends layout

block append vars
  - bodyclass = 'article-detail'

    div.top-nav.content-wrap
      a(href=contents.index.url) « Назад на главную

block prepend title
  | #{ page.title + ' - '}

block header
  include author
  h1= page.title

block content
  article.article
    section.content!= typogr(page.html).typogrify()

block prepend footer
  div.nav
    a(href=contents.index.url) « Назад на главную
